@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<!-- Experience-->
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Get to Know Joel!</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Quick Wits Comedy</h3>
                <div class="subheading mb-3">Comedian</div>
                <a href="https://www.qwcomedy.com/"><p>Click here to check it out!</p></a>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Baconsale</h3>
                <div class="subheading mb-3">Podcaster</div>
                <a href="https://baconsale.com/"><p>Click here to check it out!</p></a>
            </div>
        </div>
    </div>

    <a href="https://baconsale.com/"><img src="~/lib/img/BaconsaleKate.jpg" width="600" height="400" /></a>

</section>


<hr class="m-0" />